# https://editorconfig.org/
# generated at 11/23/2022, 1:13:35 AM by streakingman-cli@1.10.1
# 该配置文件是给webstorm使用的
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false
