@font-face {
    font-family: Smiley;
    src: url('./assets/fonts/SmileySans-Oblique.otf') format('opentype'),
        url('./assets/fonts/SmileySans-Oblique.ttf') format('truetype'),
        url('./assets/fonts/SmileySans-Oblique.ttf.woff2') format('woff2'),
        url('./assets/fonts/SmileySans-Oblique.otf.woff2') format('woff2');
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: Smiley, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

h1,
h2 {
    max-width: 800px;
    text-align: center;
}

h2 {
    margin: 0;
}

.github-icon {
    cursor: pointer;
    transition: 0.3s;
    position: absolute;
    top: -24px;

    &:hover {
        transform: scale(1.2);
    }

    &__wrapper {
        position: fixed;
        right: 0;
        top: 0;
        width: 0;
        height: 0;
        border: 32px solid black;
        border-top-color: transparent;
        border-right-color: transparent;
        color: black;
        text-decoration: none;
    }
}

.image {
    height: 100%;
    min-height: 100%;
    object-fit: contain;
    flex-shrink: 0;
    border-radius: 4px;

    &.active {
        box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 8px #fff, 0 0 10px #f90,
            0 0 10px #f90, 0 0 20px #f90, 0 0 20px #f90, 0 0 20px #f90;
    }

    &__scroll-container {
        padding: 48px;
        box-sizing: border-box;
        display: flex;
        gap: 30px;
        overflow-x: auto;
        height: 40vh;
        max-width: 100vw;
    }
}

.button {
    padding: 9px 16px;
    border-radius: 8px;
    background-color: transparent;
    border-color: currentcolor;
    font-size: 2em;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    transition: 0.3s;

    input {
        display: none;
    }

    &:hover {
        background-color: mediumpurple;
        color: white;
    }
}
